<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="OffsetSection" type="FFXI.XIACE.OffsetSection, XIACE"/>
  </configSections>
  <OffsetSection>
    <OffsetCollection>
      <!--  -->
      <Offset name="TARGET_INFO"      value="0x4E0B7C" />
      <!-- 名前,HPMPTP,エリアなど (FIX: 2009.04.22) -->
      <Offset name="PLAYER_INFO"      value="0x583C34" />
      <!-- ジョブ情報(FIX: 2009.04.22) -->
      <Offset name="JOB_INFO"         value="0x3F2DA0" />
      <!-- なんか適当 (FIXME: 2009.04.22)  -->
      <Offset name="MAXHPMP_INFO"     value="0x3F2D98" />
      <!-- 行動状態 enum Activity を参照 (FIX: 2009.04.22) -->
      <Offset name="ACTIVITY_INFO"    value="0x540F50" />
      <!-- 各種ステータス状態アイコン (FIX: 2009.04.22) -->
      <Offset name="BUFFS_INFO"       value="0x08DD8E" />
      <!-- 釣り(uncomfirmed FIX: 2009.04.09) -->
      <Offset name="FISH_INFO"        value="0x3F5390" />
      <!-- 装備 (FIX: 2009.04.22) -->
      <Offset name="EQUIP_INFO"       value="0x8DEAB8" />
      <!-- かばん (FIX: 2009.04.22) -->
      <Offset name="INVENTORY_INFO"   value="0x8D9030" />
      <!-- 金庫 (FIX: 2009.04.22) -->
      <Offset name="SAFEBOX_INFO"     value="0x8DA65C" />
      <!-- 収納 (FIX: 2009.04.22) -->
      <Offset name="STORAGE_INFO"     value="0x8DBC88" />
      <!-- ロッカー (FIX: 2009.04.22) -->
      <Offset name="LOCKER_INFO"      value="0x8DF960" />
      <!-- サッチェル (Added: 2009.04.22) -->
      <Offset name="SATCHEL_INFO"     value="0x8E0F8C" />
      <!-- アイテム (maybe FIX: 2009.04.22) -->
      <Offset name="ITEM_INFO"        value="0x530FE0" />
      <!-- カバン所持数 (+ 0x24 size 1) (maybe FIX: 2009.04.22) -->
      <Offset name="INVENTORY_COUNT"  value="0x587D48" />
      <!-- カバンMAX (maybe FIX: 2009.04.22) -->
      <Offset name="INVENTORY_MAX"    value="0x8DE91D" />
      <!-- ログインしてるかどうか(int, INで0 OUTで5075****)(2009.04.24) -->
      <Offset name="LOGGED_IN"        value="0x589810" />
      <!--  -->
      <Offset name="GIL_AMOUNT"       value="0x8D8FE8" />
      <!--  -->
      <Offset name="GIL_INPUT"        value="0x4E0734" />
      <!--  -->
      <Offset name="ORDER_INFO"       value="0x5822D4" />
      <!--  -->
      <Offset name="MENU_NAME"        value="0x4E08AC" />
      <!--  -->
      <Offset name="MENU_HELP"        value="0x4E06E8" />
      <!--  -->
      <Offset name="CURSOR_INFO"      value="0x540F3C" />
    </OffsetCollection>
  </OffsetSection>
</configuration>